src/tests/fixtures/schedule.xsd

<?xml version="1.0"?>
<!-- 

Schema for an XML representation of a conference schedule with speakers, talks and URLs to external content like images, videos or PDFs which are not included in the schedule itself. 

https://c3voc.de/wiki/schedule


Publicly first automatically produced by [pentabarf](https://github.com/nevs/pentabarf), extended by [frab](https://frab.github.io/frab/] and continuously supported by [pretalx](https://pretalx.com/p/about/) and [osem](https://osem.io/).

Media Type registration:
https://www.iana.org/assignments/media-types/application/vnd.c3voc.schedule+xml


The current version of this XSD is available at https://c3voc.de/schedule/schema.xsd – previous versions can be found at https://forgejo.c3voc.de/voc/schedule/src/branch/master/validator/xsd/schedule.xml.xsd and https://github.com/voc/schedule/blob/master/validator/xsd/schedule.xml.xsd


This is format supported by several software packages used at European conferences over the last 20 years, e.g. Chaos Communication Congress/Camp, and other events by CCC; FOSDEM; FrOSCon; FOSSGIS; etc. – c.f. https://c3voc.de/wiki/events for a more complete list.

Clients consuming this format include
  - https://github.com/Wilm0r/giggity (Android, Java)
  - https://github.com/EventFahrplan/EventFahrplan (Android, Kotlin/Java)
  - https://github.com/saschalalala/pyfahrplan (CLI, Python)
  - https://congress.conference.systems (iOS)
  - https://github.com/crs-tools/tracker (Video processing system)
  - https://github.com/engelsystem/engelsystem (Volunteer planning system) ([[https://github.com/engelsystem/engelsystem/tree/main/src/Helpers/Schedule|PHP]])
  - https://info-beamer.com/raspberry-pi-digital-signage-scheduled-player-4765.html (digital signage)


-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="generator">
          <xs:complexType>
            <xs:sequence />
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="version"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="httpURI"   name="url" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="version"/>
        <xs:element name="conference">
          <xs:complexType>
            <xs:sequence>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element type="xs:string"  name="title" maxOccurs="1"/>
                <xs:element type="acronym"  name="acronym" maxOccurs="1"/>

                <xs:element type="dateOrDateTimeTZ" name="start" minOccurs="0" maxOccurs="1"/>
                <xs:element type="dateOrDateTimeTZ" name="end" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:integer"       name="days" minOccurs="0" maxOccurs="1"/>
                <xs:element type="duration"         name="timeslot_duration" minOccurs="0"/>
                <xs:element type="httpURI"          name="base_url" minOccurs="0" maxOccurs="1"/>
                <xs:element type="httpURI"          name="logo" minOccurs="0" maxOccurs="1"/>
                <xs:element type="httpURI"          name="url" minOccurs="0" maxOccurs="1"/>
                <xs:element type="xs:string"        name="time_zone_name" minOccurs="0" maxOccurs="1"/>
                <xs:element type="color"            name="color" minOccurs="0"/>

                <xs:element type="track" name="track" minOccurs="0" maxOccurs="unbounded"/>
              </xs:choice>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="day" name="day" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <xs:unique name="guid_unique">
      <xs:selector xpath="day/room/event" />
      <xs:field xpath="@guid" />
    </xs:unique>

    <xs:unique name="code_unique">
      <xs:selector xpath="day/room/event" />
      <xs:field xpath="@code" />
    </xs:unique>

    <xs:unique name="id_unique">
      <xs:selector xpath="day/room/event" />
      <xs:field xpath="@id" />
    </xs:unique>

    <xs:unique name="slug_unique">
      <xs:selector xpath="day/room/event/slug" />
      <xs:field xpath="." />
    </xs:unique>

    <xs:unique name="day_index_unique">
      <xs:selector xpath="day" />
      <xs:field xpath="@index" />
    </xs:unique>
  </xs:element>

  <xs:complexType name="day">
    <xs:sequence>
      <xs:element type="room" name="room" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:date" name="date"/>
    <xs:attribute type="dateTimeTZ" name="start" use="required"/>
    <xs:attribute type="dateTimeTZ" name="end" use="required"/>
    <xs:attribute type="xs:positiveInteger" name="index" use="required"/>
  </xs:complexType>

  <xs:complexType name="room">
    <xs:sequence>
      <xs:element type="event" name="event" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute name="guid" type="uuid"/>
  </xs:complexType>

  <xs:complexType name="event">
    <xs:all>
      <xs:element type="xs:string" name="room"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="subtitle" minOccurs="0"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="dateTimeTZ" name="date"/>
      <xs:element type="start" name="start"/>
      <xs:element type="duration" name="duration"/>
      <xs:element type="xs:string" name="abstract"/>
      <!-- only expose slug if is not generated 1:1 via title slugify, otherwise we will generate it ourselves -->
      <xs:element type="voc-slug-new" name="slug" minOccurs="0"/>
      <xs:element type="xs:string" name="track"/>
      <!-- logo is the path or URL to an image, we use httpURI as type here as apps prefer full URLs now -->
      <xs:element type="emptyOrURI" name="logo" minOccurs="0" />
      <xs:element type="persons" name="persons" minOccurs="0"/>
      <xs:element type="xs:string" name="language" minOccurs="0"/>
      <xs:element type="xs:string" name="description" minOccurs="0"/>
      <xs:element type="recording" name="recording" minOccurs="0"/>
      <xs:element type="links" name="links" minOccurs="0"/>
      <xs:element type="attachments" name="attachments" minOccurs="0"/>
      <!-- deprecated -->
      <xs:element type="httpURI" name="video_download_url" minOccurs="0"/>
      <xs:element type="httpURI" name="url" minOccurs="0"/>
      <xs:element type="httpURI" name="feedback_url" minOccurs="0"/>
      <xs:element type="httpURI" name="origin_url" minOccurs="0"/>
    </xs:all>
    <!-- short identifier of the submission, replacing the old "id" attribute -->
    <xs:attribute name="code" type="pretalx-random-code" use="optional"/>
    <!-- legacy numeric identifier from pretalx, might be non unique when submission has multiple time slots, c.f. https://docs.pretalx.org/developer/concepts/#schedules-and-slots -->
    <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    <!-- unique identifier for this event/instance introduced by frab, guaranteed to be unique across all systems -->
    <xs:attribute name="guid" type="uuid" use="required"/>
  </xs:complexType>

  <xs:simpleType name="dateTimeTZ">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value=".+(Z|\+[0-9]{1,2}:[0-9]{2}|-[0-9]{1,2}:[0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dateOrDateTimeTZ">
    <xs:union memberTypes="dateTimeTZ xs:date"/>
  </xs:simpleType>

  <xs:simpleType name="duration">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9]{1,2}:[0-9]{2})|([0-9]{1,2}:[0-9]{2}:[0-9]{1,2})"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="start">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-2][0-9]:[0-5][0-9])|([0-2][0-9]:[0-5][0-9]:[0-5][0-9])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="uuid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="pretalx-random-code">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{6}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="acronym">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_-]{4,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="voc-slug">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_]{4,}-[0-9]{1,6}-[a-z0-9\-_]{4,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="voc-slug-new">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z0-9_]{4,}-[a-z0-9\-_]{4,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="slug">
    <xs:restriction base="xs:string">
      <!-- lowercase letters, numbers and hyphens, must start with a letter and be at least two characters long -->
      <xs:pattern value="[a-z][a-z0-9-]+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="httpURI">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="https?://.*"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="emptyOrURI">
    <xs:restriction base="xs:anyURI">
      <xs:pattern value="https?://.*|\s*"/> <!-- Allow for empty string -->
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="string-nonempty">
    <xs:restriction base="xs:string">
      <xs:pattern value=".+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hexColor">
    <xs:restriction base="xs:string">
      <!-- Pattern for hexadecimal color code: # followed by exactly 6 hexadecimal digits, prefered in lower case -->
      <xs:pattern value="#[0-9a-fA-F]{6}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="recording">
    <xs:all>
      <xs:element type="xs:string"  name="license"/>
      <xs:element type="xs:boolean" name="optout"/>
      <xs:element type="httpURI" name="url" minOccurs="0"/>
      <xs:element type="httpURI" name="link" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="persons">
    <xs:sequence>
      <xs:element name="person" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:integer" name="id" />
              <xs:attribute type="uuid" name="guid"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="links">
    <xs:sequence>
      <xs:element name="link" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="href"/>
              <xs:attribute type="xs:string" name="type"/>    
              <xs:attribute type="xs:string" name="service"/>  
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="attachments">
    <xs:sequence>
      <xs:element name="attachment" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="href"/>
              <xs:attribute type="xs:string" name="type"/>    
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="track">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"  use="required"/>
        <xs:attribute type="hexColor"  name="color" use="optional"/>
        <xs:attribute type="slug"      name="slug"  use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="color">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="hexColor" name="primary" use="required"/>
        <xs:attribute type="hexColor" name="background" use="optional"/>
        <xs:anyAttribute processContents="lax"/> <!-- Allows for additional, unspecified attributes -->
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
